h1,h2,h3,h4,h5,h6,.style2{
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}
p,.style1,.font2{
  font-weight: 400;
  margin-bottom: 0px !important;
  font-size: 17px;
  letter-spacing: 0.4px;
}


.nunito-sans-p{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 150,
    "YTLC" 500;
}

.para15{
    font-size: 17px;
}
.cont{
    align-items: center;
    justify-content: center;
    
}
.fixed-top{
    background-color: rgb(243, 238, 233)
}
.navbar{
    background-color: rgb(243, 238, 233);
    
}
.container1{
    background-color: rgb(243, 238, 233);
  
}
.logo{
    color: rgb(230, 100, 69);
    font-size: 30px;
    font-weight: bold;

}
.logo:hover{
    color: rgb(230, 100, 69);
}
.heading2{
    font-size: 50px;
    font-weight: bold;

}
.nav-item{
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
}
.navbar-nav{
    justify-content: space-between;
    gap: 20px;
}
.book{
    background-color: rgb(230, 100, 69);
    color: white;
    border-radius: 50px;
    border: 0px;
    padding: 10px;
    font-weight: 600;

}
.home{
    background-color: rgb(243, 238, 233);
    height: 115vh;
}
.homee{
    display: flex;
    margin: auto;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.heading{
    font-size: 52px;
    font-weight: 700;
}
.logoo{
    border-radius: 550px;
    height: 650px;
    width: 95%;
    border: 2px solid rgb(230, 100, 69);
    margin: 10px;
}
.box{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 12px;
}
.leaf{
    font-size: 22px;
}

    .swiper {
      width: 100%;
      height: 15vh;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.add,.vist{
    background-color: rgb(228, 237, 232) !important;
}
.index{
    background-color: rgb(228, 237, 232);
  
}
.new1{
    border-radius: 20px;
    border: 2px solid rgb(230, 100, 69);
    width: 300px;
    height: 450px;
}
.new2{
    border-radius: 20px;
    border: 2px solid rgb(230, 100, 69);
    width: 250px;
    height: 350px;
}
.index-whole{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
    justify-content: space-between;
}
.row1>p{
    padding: 8px;
}
.servicestack{
    font-size: 20px;
    width: 30px;
}
.services{
    text-align: center;
    padding: 40px;
    background-color: rgb(210, 212, 214);
}
.btn2{
    border: 0.5px solid rgb(189, 186, 186);
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}
.grid-whole{

}
.card1{
    background: 
        linear-gradient(rgba(36, 28, 28, 0.6), rgba(58, 55, 55, 0.6)),
        url(assets/New-Project-28-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 4px solid rgb(230, 100, 69);
    position: relative;
    height: 400px;
}
.cd2{
    background: 
        linear-gradient(rgba(36, 28, 28, 0.6), rgba(58, 55, 55, 0.6)),
        url(assets/New-Project-31-3.jpg);
}
.cd3{
    background: 
        linear-gradient(rgba(36, 28, 28, 0.6), rgba(58, 55, 55, 0.6)),
        url(assets/New-Project-31-1.jpg);
}
.inner-card{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    margin: 20px;
    width: 90%;
    border: 3px solid rgb(230, 100, 69);
    border-radius: 10px;
    background-color: white;
}
.para25{
    font-weight: 700;
}
.rating{
    background: 
        linear-gradient(rgba(36, 28, 28, 0.6), rgba(58, 55, 55, 0.6)),
        url(assets/engin-akyurt-SMwCQZWayj0-unsplash.webp);
        height: 40vh;
}
.percent{
    color: rgb(230, 100, 69);
}
.book-card{
    border-radius: 10px;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(assets/banner-two-shape-1-1.png);
    position: relative;
    /* background: 
    linear-gradient(rgba(202, 93, 204, 0.6), rgba(199, 75, 201, 0.6)),
        url(assets/banner-two-shape-1-1.png); */
}
.pot{
    position: absolute;
    bottom: 20px;
    right: 20%;
    width: 150px;
}
.grid-box1{
    background-image: url(assets/New-Project-31-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: 4px solid rgb(230, 100, 69);
    position: relative;
    height: 350px;
}
.gd2{
    background-image: url(assets/New-Project-31-2.jpg);
}
.gd3{
    background-image: url(assets/New-Project-31-3.jpg);
}
.social{
    font-size: 20px;
    background-color: rgb(230, 100, 69);
    border-radius: 80px;
    color: white;
    width: 40px;
    height: 40px;
    align-content: center;
}
.social1{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.grid-cont{
    background-color: white;
    border-radius: 10px;
}
.booking-card{
    background-color: rgb(51, 45, 40);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.name{
    border: 0.5px solid white;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
form>::placeholder{
    color: gray;
}
.visit{
     border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-collection{
    width: 130px;
    border: 4px solid rgb(230, 100, 69);
    border-radius: 20px;
}
.copyright{
    background-color: rgb(51, 45, 40);
    color: white;
    font-size: 20px;
    padding: 15px;
}
.book:hover{
    background-color: coral;
}







@media screen and (min-width: 1280px ) and (max-width: 1440px){
/* small laptops */
.index-half{
        flex-wrap: wrap;
    }
.booking-whole{
        flex-wrap: wrap;
    }
    .book-card{
        height: auto;
        padding: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1280px){
    /* tabs */
    .homee{
        flex-wrap: wrap;
    }
    .book-card{
        height: auto;
        padding: 80px;
    }
 }


@media screen and (min-width :576px) and (max-width :992px ){
    /* phones */ 
    /* small tabs */
    .index-whole{
        flex-wrap: wrap;
    }
    .booking-whole{
        flex-wrap: wrap;
    }
    .homee{
        flex-wrap: wrap;
    }
    .tbl{
         flex-wrap: wrap;
        text-align: center;
    }
    .book-card{
        height: auto;
        padding: 80px;
    }
    .pot{
        display: none;
    }

}
 @media screen and (max-width: 768px){
    .index-whole{
        flex-wrap: wrap;
    }
    .homee{
        flex-wrap: wrap;
    }
    .booking-whole{
        flex-wrap: wrap;
    }
    .tbl{
        flex-wrap: wrap;
        text-align: center;
    }
    /* .services{
        padding: 10px;
    } */
    .hide{
        display: none;
    }
    .heading{
        font-size: 30px;
    }
    .book{
        width: 70%;
    }
    p,.para17{
        font-size: 14px;
    }
    .heading2{
        font-size: 30px;
    }
    .font2{
        font-size: 15px;
    }
    .rating{
        height: auto;
    }
    .index-whole{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .logoo{
        height: 60vh;
        width: 95%;
    }
    .new1{
        height: 40vh;
        width: 50%;
        margin-bottom: 10px;
    }
    .new2{
        height: 30vh;
        width: 45%;
    }
    .pot{
        display: none;
    }
    .booking-card,.visit{
        border-radius: 0px;
    }
    .home{
        height: auto;
    }
    
 }